.page.theme_dark {
  --bg-color: #000028;
  background-image: url(../images/cover-image-dark.png);
  --bg-title-color: #ff0070;
  --main-title-text-color: #db00ff;
  --main-title-accent-text-color: #ff0070;
  --section-title-text-color: #ff0070;
  --sub-title-text-color: #000028;
  --text-color: #f1b2ce;
  --main-font: 'IBM Plex mono';
  --decor-color: #ff0070;
  --buttom-color: #ff0070;
  --buttom-hover-color: #ff007066;
  --link-accent-color: #ff0070;
}

.theme_dark .decor {
  display: block;
}
