.page {
  color: var(--text-color, #f1b2ce);
  background-color: var(--page-background-color, #000028);
  background-image: var(--page-background-image,url("../images/cover-image.png"));
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  font-size: 18px;
  line-height: 23.4px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.cover {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  block-size: 100vh;
  min-block-size: 668px;
  
}

.decorated-zone::before,
.decorated-zone::after {
  inline-size: 25px;
  block-size: 25px;
  content: "";
  position: absolute;
  z-index: -1;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--secondary-color, #ff0070);
  border-block-start: 1px solid var(--secondary-color, #ff0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--secondary-color, #ff0070);
  border-block-end: 1px solid var(--secondary-color, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decor {
  inset-inline-end: 20px;
  inset-block-start: 10px;
  gap: 10px;
  position: absolute;
  z-index: -1;
  visibility: var(--rec-decor-visibility, visible);
  display: inline-flex;
  align-items: center;
}

.decor::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
  text-transform: uppercase;
}

.decor::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.main-content {
  display: grid;
  padding: 40px 10px;
  gap: 50px;
}

.header__title {
  color: var(--brand-color, #db00ff);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  font-weight: 700;
  line-height: 82.5%;
}

.header {
  align-items: start;
}

.header__theme-menu {
  justify-self: end;
  margin-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.header__theme-menu-button {
  color: var(--secondary-color, #ff0070);
  line-height: 18px;
  border: 1px solid transparent;
  padding: 2px 12px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--secondary-color-o-40, #ff007040);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__text {
  margin-block: 55px;
  color: var(--highlight-color, #000028);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  background: var(--accent-color, #ff0070);
}

.shadow-decor {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.section {
  display: grid;
  gap: 20px;
}

.title {
  color: var(--secondary-color, #ff0070);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.titleforlist {
  font-weight: 400; 
}

.title-decor {
  color: var(--highlight-color, #000028);
  background: var(--accent-color, #ff0070);
}

.section-pictures {
  gap: 10px;
}

.section-how__title {
  margin-block-end: 20px;
}

.content-list {
  display: grid;
  gap: 20px;
}

.content {
  display: grid;
  gap: 10px;
}

.pictures-list {
  display: grid;
  gap: 10px;
}

.pictures-list__item-img {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

.footer {
  place-items: center;
}

.link {
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid;
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

@media (width >= 768px) {
  .decor {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }

  .header {
    padding-inline-start: 0;
  }

  .header__theme-menu {
    margin-top: max(170px, 5vw);
  }

  .header__text {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .main-content {
    gap: 80px;
    padding: 60px 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .section-what__content-list {
    grid-column-start: span 2;
  }

  .section-how__content-list {
    grid-column-start: 2;
  }

  .section-pictures {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .pictures-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .pictures-list__item:first-child,
  .pictures-list__item:last-child {
    grid-column-start: span 2;
  }

  .pictures-list__item:nth-child(2),
  .pictures-list__item:nth-child(3) {
    grid-row-start: span 2;
  }

}

@media (width >= 1024px) {
  .header__title {
    text-shadow: 4px 4px 0 var(--color-purple-2, #ff0070);
  }

  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-start: 0;
    min-block-size: 180px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section {
    column-gap: 30px;
  }

  .section-what__content-list {
    grid-template-columns: repeat(3, 1fr);
  }
}