:root {
  --color-background-light: #fff1f7;
  --color-fortext-pink: #f1b2ce;
  --color-brand-light: #ffc2e6;
  --color-accent-light: #ff8dcb;
  --color-brand-dark: #db00ff;
  --color-purple-main: #ff0070;
  --color-purple-2-o-40: #ff007040;
  --color-black-main: #000028;
  --color-black-highlightt: #353430;
  --color-black-2-o-40: #35343040;
  --text-color: var(--color-fortext-pink, #f1b2ce);
  --brand-color: var(--color-brand-dark, #db00ff);
  --secondary-color: var(--color-purple-main, #ff0070);
  --secondary-color-o-40: var(--color-purple-2-o-40, #ff007040);
  --accent-color: var(--color-purple-main, #ff0070);
  --highlight-color: var(--color-black-main, #000028);
  --page-font-family: "IBM Plex mono", monospace;
  --page-background-image: url("../images/cover-image.png");
  --page-background-color: var(--color-black-main, #000028);
  --rec-decor-visibility: visible;
}